@layer reset, base, theme, utils;

@layer reset {

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
		font-size: inherit;
		font-weight: normal;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

}

@layer theme {
	:root {
		--bg-color: #OB1D26;
		--accent-color: #FBD784;
		--foreground-color: #FFF;
	}
}

@layer base {}

@layer utils {
	.font-serif {
		font-family: "PT Serif", Georgia, 'Times New Roman', Times, serif;
	}

	.font-sans {
		font-family: "Poppins", Arial, Helvetica, sans-serif;
	}
}
